.menu_content {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(19, 18, 18);
    font-family: var(--font-base);
}
.special_menu {
    display: flex;
}
.special_menu_img img {
    height: 100vh;
    width: 100%;
}
.menu_continer {
    text-align: center;
}
.button {
    text-align: center;
}
